@import "tailwindcss";

:root {
  --background: #faf9f5;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: "anthropicSerif";
  --font-mono: "anthropicMono";

  /* --color-brand-100: #ffeeff;
  --color-brand-200: #f8c5f4;
  --color-brand-300: #e6a0e2;
  --color-brand-400: #e267df;
  --color-brand-500: #ce33cd;
  --color-brand-600: #9d1e9c;
  --color-brand-700: #642762;
  --color-brand-800: #3b133a;
  --color-brand-900: #120711; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #faf9f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "anthropicSans", Arial, Helvetica, sans-serif;
}
