@import "tailwindcss";

:root {
  --background: #faf9f5;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: "anthropicSerif";
  --font-mono: "anthropicMono";

  /* --color-brand-100: #fcf1ff;
  --color-brand-200: #ebccf3;
  --color-brand-300: #d5aae1;
  --color-brand-400: #c97edd;
  --color-brand-500: #b359cb;
  --color-brand-600: #873f9a;
  --color-brand-700: #573261;
  --color-brand-800: #321b39;
  --color-brand-900: #0f0811; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #faf9f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "anthropicSans", Arial, Helvetica, sans-serif;
}
