@import "tailwindcss";

:root {
  --background: #faf9f5;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: "anthropicSerif";
  --font-mono: "anthropicMono";

  --color-brand-100: #f0f7f2;
  --color-brand-200: #c9ded1;
  --color-brand-300: #a7c4b2;
  --color-brand-400: #7aae8e;
  --color-brand-500: #579571;
  --color-brand-600: #3e7053;
  --color-brand-700: #314a3b;
  --color-brand-800: #1a2a20;
  --color-brand-900: #080c09;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #faf9f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "anthropicSans", Arial, Helvetica, sans-serif;
}
